.keyboard {
  font-size: 2em
}
.key-container {
  position:relative;
  float:left;
}
.key {
  border:1px solid black;
  transition: 0.05s;
}
.key-C, .key-D, .key-E, .key-F, .key-G, .key-A, .key-B {
  background-color:white;
  width: 40px;
  height: 140px;
  float: left
}

.key-Bb, .key-Db, .key-Eb, .key-Gb, .key-Ab {
  background-color:black;
  z-index:2;
  left:-11px;
  width: 20px;
  height: 84px;
  position:absolute;
  float:left;
}

.key-cs, .key-fs {
  left:-14px;
}

.key-ds, .key-as {
  left: -8px;
}

.key.active {
  box-shadow: inset 0 0 15px #3d3
}

audio {
  display: none
}

.midi-status {
  font-size: 12px;
  clear:left;
}
.midi-status.connected {
  color: green
}
.midi-status.initializing {
  font-style: italic;
}


/**
 * CSS Switch
 */
.onoffswitch {
    position: relative; width: 138px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFF; border-radius: 11px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 46px; padding: 0; line-height: 46px;
    font-size: 30px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 21px;
    background-color: #34C234; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 21px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 34px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 88px;
    border: 2px solid #FFFFF; border-radius: 11px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
